.header {
  background: $color-blue;
  background: linear-gradient(135deg, $color-blue 0%, $color-blue 20%, $color-green 80%, $color-green 100%);
  padding: 3.5rem 2rem;

  &__title {
    text-align: center;
    color: $color-white;
  }
}