.result {
  &__section {
    padding: 2.5rem;

    &--favourite {
      background: $color-green-light;
      margin: auto 0 0 0;
    }

    @include phone-port-sm {
      padding: 2rem 2rem 0;
    }
  }

  &__list {
    width: 100%;
    max-width: 122rem;
    margin: 0 auto;
  }

  &__header {
    color: $color-green;
    margin: 0 auto 1.5rem;
  }

  &__item {
    display: flex;
    align-items: baseline;

    &:not(last-of-type) {
      margin: 0 auto 3.5rem auto;
    }

    @include phone-port {
      flex-flow: column wrap;
    }
  }

  &__title {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding: 0 2rem 0 0;

    @include phone-port {
      padding: 0;
      margin: 0 0 1.5rem;
    }
  }

  &__description {
    width: 56%;

    @include phone-port {
      width: 100%;
    }
  }

  &__btn {
    @include button-reset;
    margin: 0 1.6rem 0 0;
    width: $star-dimensions;
    height: 2.3rem * 1.6;
    display: flex;
    align-items: center;
    outline: none;

    &--grey {
      color: $color-grey;
    }

    &--green {
      color: $color-green;
    }
  }

  &__star {
    display: block;
    width: $star-dimensions;
    height: $star-dimensions;
    fill: currentColor;
  }

  &__error {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  &__walle {
    display: block;
    width: 12rem;
    margin: 0 auto 2rem;
  }
}