.result {
  &__section {
    padding: 1.5em;

    &--favourite {
      background: $color-green-light;
      margin: auto 0 0 0;
    }
  }

  &__header {
    font-size: 2em;
    color: $color-green;
  }

  &__item {
    display: flex;
  }

  &__title {
    flex: 1;
    display: flex;
    align-items: flex-start;
  }

  &__description {
    width: 55%;
  }

  &__btn {
    cursor: pointer;
    margin: 0 1em 0 0;
    height: $star-dimensions * 1.6;
    display: flex;
    align-items: center;

    &--grey {
      color: $color-grey;
    }

    &--green {
      color: $color-green;
    }
  }

  &__star {
    display: block;
    width: $star-dimensions;
    height: $star-dimensions;
    fill: currentColor;
  }
}