.search {
  &__section {
    padding: 2.5rem 2.5rem 0;

    @include phone-port-sm {
      padding: 2rem 2rem 0;
    }
  }

  &__form {
    display: flex;
    width: 100%;
    max-width: 122rem;
    margin: 0 auto;
  }

  &__input {
    flex: 1;
    height: 6rem;
    border-radius: .3rem;
    border: 1px solid $color-grey;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
    padding: 1rem;
    color: inherit;

    &:focus {
      box-shadow: 0 0 5px rgba($color-green, 1);
    }
  }

  &__submit {
    @include button-reset;
    width: 6rem;
    height: 6rem;
    margin: 0 0 0 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-green;
    border-radius: .3rem;
    transition: .3s background-color ease;
    outline: none;

    &:active {
      filter: saturate(150%);
    }

    &:hover {
      background-color: $color-blue;
    }
  }

  &__magnifier {
    display: block;
    fill: $color-white;
    width: 3.6rem;
    height: 3.6rem;
  }
}