*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include phone-port {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: $color-blue;
  position: relative;
  border-bottom: 1px solid $color-blue;
  padding: .15rem 0;

  &:link,
  &:visited {
    text-decoration: none;
  }
}

ul {
  padding: 0 0 0 2rem;

  @include phone-port {
    padding: 0 0 0 5.8rem;
  }
}

li:not(:last-of-type) {
  margin: 0 0 1.6rem;
}
